
body{
    background-color: #273549;
    font-family: Arial, sans-serif;
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 200px;
}
span{
    color: #4ADF86;
}

button{
    margin-top: 20px;
    color: white;
    border-radius: 4px;
    background-color: #10B981;
    border: none;
    padding: 4px 12px; 
    font-size: large;
}


#div{
    margin-top: 20px;
    display: flex;
    justify-content: center;

}
#password1{
    /* border: 2px solid #ccc; */
    padding: 6px 10px;
    border-radius: 4px;
    background-color: #4f6686bd;
    color: #4ADF86;
}
#password2{
    /* border: 2px solid #ccc; */
    padding: 6px 10px;
    border-radius: 4px;
    background-color: #4f6686bd;
    color: #4ADF86;
}